<form id="commentForm" method="post" action="#/postComment">
    <label>Comment</label>
    <textarea name="content" type="text"></textarea>
    <input type="submit" value="Add Comment" id="btnPostComment">
</form>